body {
    background-color: #fff;
    color: #000;
}
@media (prefers-color-scheme: dark)
{
    body {
        background-color: #000;
        color: #fff;
    }
}

.x-button {
    height: 50px;
    width: 50px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url('./Sources/logo-black.png');
}

@media (prefers-color-scheme: dark) {
    .x-button {
        filter : invert(100%);
    }
}
