body {
    background-color: #fff;
    color: #000;
    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .language-button {
            margin-left: auto;
            height: 30px;
            width: 170px;
            border: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }
    }
    .icon {
        width: 50px;
        height: 50px;
    }
}

@media (prefers-color-scheme: dark)
{
    body {
        background-color: #000;
        color: #fff;
    }
}

.skill-tree{
    .tools-box {
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        padding: 10px;
        gap: 20px;
        justify-content: center;
        .python, .unity-csharp, .html-css-javascript, .git-github {
            border: 2px solid #000;
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            text-align: center;
            @media (prefers-color-scheme: dark) {
                border: 2px solid #fff;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            p {
                margin: 5px 0;
                font-size: 14px;
            }
            .html-css-javascript-icon, .git-github-icon {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.contacts{
    .x-button {
        height: 50px;
        width: 50px;
        border: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: transparent;
        background-image: url('./Sources/logo-black.png');
    }

    .github-button {
        height: 50px;
        width: 50px;
        border: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: transparent;
        background-image: url('./Sources/github-mark.svg');
    }

    @media (prefers-color-scheme: dark) {
        .x-button {
            background-image: url('./Sources/logo-white.png');
        }
        .github-button {
            background-image: url('./Sources/github-mark-white.svg');
        }
    }
}
