:root {
    --img-github-icon: url('/Sources/Icons/github-mark.svg');
    --img-x-icon: url('/Sources/Icons/logo-black.png');
    --img-google-form-icon: url('/Sources/Icons/logo_forms_2020q4_color_1x_web_64dp.png')
}

@media (prefers-color-scheme: dark) {
    :root {
        --img-x-icon: url('/Sources/Icons/logo-white.png');
        --img-github-icon: url('/Sources/Icons/github-mark-white.svg');
    }
}

main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 2rem;
}

section#skill-tree article picture {
    display: contents;
}

section#skill-tree {
    width: 100%;
    max-width: 100vw;

    .tools-box {
        width: 100%;
        display: flex;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        padding: 10px 20px;
        scroll-padding: 0 20px;
        gap: 20px;
        justify-content: flex-start;

        article {
            border: 2px solid var(--clr-text);
            border-radius: 10px;
            padding: 10px;
            width: auto;
            text-align: center;
            flex-shrink: 0;

            .python-icon,
            .unity-icon {
                max-width: 150px;
                height: auto;
            }

            .html-icon,
            .css-icon,
            .javascript-icon,
            .git-icon,
            .github-icon {
                max-width: 50px;
                height: auto;
                margin: 0 5px;
            }

            h3 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p {
                margin: 5px 0;
                font-size: 14px;
            }

            .html-css-javascript-icon,
            .git-github-icon {
                display: flex;
                justify-content: center;
            }

            @media (max-width: 768px) {
                max-width: 80vw;
            }
        }
    }

    .tools-box::-webkit-scrollbar {
        display: none;
    }
}

section#projects li {
    text-align: left;
}

section#projects li .see-more {
    margin-left: 50%;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    color: var(--clr-text);

    span {
        display: inline-block;
        transition: padding 0.3s ease-in-out;
    }

    span:nth-child(2) {
        padding: 0 0 0 10%;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 5px;
        background-color: var(--clr-text);
        transition: width 0.3s ease-in-out;
    }
}

section#projects li .see-more:hover {
    span:nth-child(2) {
        padding: 0 0 0 15%;
    }

    &::after {
        width: 100%;
    }
}

section#connect .snss {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;

    .sns-twitter,
    .sns-github,
    .google-form {
        padding: 10px;
        width: auto;
        text-align: left;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: nowrap;

        p {
            margin: 5px 0;
            text-align: left;
        }
    }

    button {
        max-width: 50px;
        max-height: 50px;
        width: 100%;
        height: auto;
        border: none;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-color: transparent;
    }

    .x-button {
        background-image: var(--img-x-icon);
    }

    .github-button {
        background-image: var(--img-github-icon);
    }

    .google-form-button {
        background-image: var(--img-google-form-icon);
    }
}

footer {
    scroll-snap-align: end;
}