:root {
    --clr-accent: rgba(0, 122, 204, 0.5);
    --clr-link: rgba(0, 122, 204, 1);
}

@media(prefers-color-scheme: dark) {
    :root {
        --clr-accent: rgba(0, 122, 204, 0.5);
    }
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    padding-top: 80px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    main {
        padding: 80px 10% 0 10%;
    }
}

main>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li[data-id]>article>h3 {
    font-size: 1.5em;
    padding: 0.5em 0;

    a {
        color: var(--clr-text);
        text-decoration: underline;
        transition: color 0.2s ease;
        display: inline-block;

        &:visited {
            color: var(--clr-border);
        }

        &:hover {
            color: var(--clr-link);
        }
    }
}

pre {
    background-color: var(--clr-overlay);
    white-space: pre;
    overflow-x: auto;
}

main img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    main img {
        max-width: 100%;
        height: auto;
    }
}

.meta {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

.meta time {
    width: auto;
    white-space: nowrap;
    flex-shrink: 0;
}

.meta .tags {
    flex: 1;
}

.tags {
    display: flex;
    height: auto;
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    padding-left: 20px;
    list-style: none;
    margin: 0;

    .tag {
        height: 40px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0px 28px;
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: 2px solid var(--clr-border);
        text-decoration: none;
        transform: skewX(-20deg);
        background-color: transparent;
    }

    .tag:last-child {
        border-right: 2px solid var(--clr-border);
    }

    .tag span {
        display: inline-block;
        transform: skewX(20deg);
    }
}

.tag.is-active {
    background-color: var(--clr-accent);
}

.no-articles {
    text-align: center;
    font-size: 1.2em;
    color: var(--clr-text);
    margin-top: 40px;
}
