main {
    padding-top: 80px;
}

@media (max-width: 768px) {
    main {
        padding: 80px 10% 0 10%;
    }
}

pre {
    background-color: var(--clr-overlay);
    white-space: pre;
    overflow-x: auto;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    img {
        max-width: 100%;
        height: auto;
    }
}