main {
    padding-top: 80px;
}

@media (max-width: 768px) {
    main {
        padding: 80px 10% 0 10%;
    }
}

pre {
    background-color: var(--clr-overlay);
    white-space: pre;
    overflow-x: auto;
}

img {
    max-width: 100%;
    height: auto;
}