html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    padding-top: 80px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    main {
        padding: 80px 10% 0 10%;
    }
}

pre {
    background-color: var(--clr-overlay);
    white-space: pre;
    overflow-x: auto;
}

main img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}

@media (max-width: 768px) {
    main img {
        max-width: 100%;
        height: auto;
    }
}